/* * {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 600px;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
 
#quiz {
	text-align: center;
}

.answers {
	padding-left: 10px
} */

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


main {
	max-width: 960px;
	margin: 0 auto;
}

p {
	max-width: 400px;
}

.container {
	padding: 0 60px;
	padding-top: 90px;
}

.user-was-correct::before {
	content: "Shhhh!!!!! (";
}

.user-was-correct::after {
	content: ")";
}

.user-was-incorrect {
	font-size: 50px;
	color: red;
}